In [1]:
import pandas as pd
import xml.etree.ElementTree as ET

In [2]:
def parse_file(file_path):
    if file_path.endswith(".csv"):
        df = pd.read_csv(file_path)
    elif file_path.endswith(".xlsx"):
        df = pd.read_excel(file_path)
    elif file_path.endswith(".xml"):
        tree = ET.parse(file_path)
        root = tree.getroot()
        data = []
        for point in root.findall("Point"):
            freq = float(point.find("Frequency").text)
            mag = float(point.find("Magnitude").text)
            data.append([freq, mag])
        df = pd.DataFrame(data, columns=["Frequency", "Magnitude"])
    else:
        raise ValueError("Unsupported file format")
    
    return df

In [8]:
data = parse_file("demodata.csv")

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   measurement_id      24000 non-null  int64
 1   transformer_id      24000 non-null  object
 2   transformer_type    24000 non-null  object
 3   rating_kVA          24000 non-null  int64
 4   voltage_levels      24000 non-null  object
 5   manufacturer        24000 non-null  object
 6   test_date           24000 non-null  object
 7   vendor_equipment    24000 non-null  object
 8   frequency_hz        24000 non-null  float64
 9   magnitude_dB        24000 non-null  float64
 10  phase_degrees       24000 non-null  float64
 11  fault_type          24000 non-null  object
 12  fault_severity      24000 non-null  int64
 13  baseline_available  20000 non-null  object
 14  test_configuration  24000 non-null  object
 15  temperature_C       24000 non-null  int64
 16  humidity_percent    24000 non-null  int64
 17  recommended_action  24000 non-null  object
dtypes: float64(3), int64(5), object(10)
memory usage: 2.4+ MB

In [10]:
data.describe()

,measurement_id,rating_kVA,frequency_hz,magnitude_dB,phase_degrees,fault_severity,temperature_C,humidity_percent
count,24000.000000,24000.000000,2.400000e+04,24000.000000,24000.000000,24000.000000,24000.000000,24000.000000
mean,15.500000,35300.000000,1.774743e+05,-15.711359,-88.790751,1.500000,24.506583,54.489250
std,8.655622,37137.817214,3.881816e+05,18.790236,21.215125,0.957447,5.769078,8.651127
min,1.000000,500.000000,1.995262e+01,-65.180619,-126.503967,0.000000,15.000000,40.000000
25%,8.000000,1000.000000,3.549237e+02,-29.940242,-109.749728,1.000000,20.000000,47.000000
50%,15.500000,25000.000000,6.312213e+03,-16.046452,-87.360684,1.500000,25.000000,55.000000
75%,23.000000,50000.000000,1.122374e+05,-0.708809,-67.887599,2.000000,30.000000,62.000000
max,30.000000,100000.000000,1.995262e+06,25.968694,-53.199723,3.000000,34.000000,69.000000